/* Page + full-screen map - Make the page tall enough for a full-screen map*/
html, body {
  height: 100%;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}

/* Basic styling for the whole page */
body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "lato", sans-serif;
  color: #3d3d3d;
}



/* Make the map fill the entire browser window */
#map {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
}
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    Background: #000000;
    color: #ffffff;
}

.leaflet-top.leaflet-left {
  top: 60px; /* push down below your navbar */
}

/*Style the description panel (overlay box)*/
#description {
	font-size: .8rem;
  font-style: normal;
  color: white;
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: 307px;
   height: auto;
  max-width: calc(100vw - 20px);
  padding: 0 9px;
  padding-top: 9px;
  background: rgb(40, 40, 40);
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}