/*Dashboard Cards*/
.dashboard-card {
  text-decoration: none;
  color: #1d3d1d;
}

.card {
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  color: white;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/*info column button (minimized screen)*/
.offcanvas {
  width: 300px;
}

/*Info Column*/
.infoColumn {
  position: sticky;
  color: #1d3d1d;
  top: 90px; 
  transition: none
}
