/* Page + full-screen map - Make the page tall enough for a full-screen map*/
html, body {
  height: 100%;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}

/* Basic styling for the whole page */
body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "lato", sans-serif;
  color: #3d3d3d;
}



/* Make the map fill the entire browser window */
#map {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
}
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    Background: #000000;
    color: #ffffff;
}


/*Style the title panel (overlay box)*/
#title {
  position: fixed;
  top: 10px;
  left: 55px;
  font-size: 2em;
  font-family: "lato", serif;
  letter-spacing: 0.01em;
  margin: 0;
    margin-right: 0;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #777;
  border-radius: 29px;
  z-index: 800
}

#footer {
position: fixed;
  bottom: 5px;
  height: 30px;
  right: 30px;
  font-size: 1em;
  font-family: "lato", serif;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #777;
  border-radius: 5px;
  z-index: 915
}

/*Style the description panel (overlay box)*/
#description {
  font-style: italic;
  position: fixed;
  left: 10px;
  bottom: 9px;
  width: 18px;
    height: auto;
  max-width: calc(100vw - 20px);
  padding: 0 9px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}

/*Make paragraph text inside the description readable */
#description p {
  font-size: 0.75rem;
    color: black;
  line-height: 1;
}

.leaflet-top.leaflet-left {
  top: 65px;
  left: 380px;
}

.leaflet-top.leaflet-right {
  top: 65px;
  left: 380px;
}